/*pre-loaer*/

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: black;
}

#loader{
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 250px;
	height: 250px;
	margin: -75px 0 0 -75px;
	border: 3px solid transparent;
	border-top-color: #3498db;
	border-radius: 50%;
	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;

	border: 3px solid transparent;
	border-top-color: #e74c3d;
	border-radius: 50%;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;

	border: 3px solid transparent;
	border-top-color: #f9c922;
	border-radius: 50%;
	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	  0%   {
	   		-webkit-transform: rotate(0deg);  
       		-ms-transform: rotate(0deg);
        	transform: rotate(0deg);
	  }
	  100% {
	  	-webkit-transform: rotate(360deg);  
       		-ms-transform: rotate(360deg);
        	transform: rotate(360deg);
	  }
}
@keyframes spin {
	  0%   {
	   		-webkit-transform: rotate(0deg);  
       		-ms-transform: rotate(0deg);
        	transform: rotate(0deg);
	  }
	  100% {
	  	-webkit-transform: rotate(360deg);  
       		-ms-transform: rotate(360deg);
        	transform: rotate(360deg);
	  }
}